
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: blnchedalmond;
}

.block {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.bigtext {
    text-align: center;
    font-size: 48px;
    color: yellowgreen;
    padding-top: 25px;
}